body{
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    background: whitesmoke;
}
.container{
    border: 2px solid black;
    background-color: lightpink;
    padding: 40px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card{
    background-color: white;
    width: 210px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid blue;
}
.circle{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;
}